*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 20px;
}

ul {
   display: flex;
   gap:40px
}
ul li {
  list-style: none;
  color: white;
  font-size: 18px;

}
 li .NavLink{
  text-decoration: none;
  color: white;
}

.active-class{
   text-decoration: none; 
  color: salmon;
  border: 2px solid rgb(45, 144, 128);
}

img{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
}